/* body css */


body {
    background-color: #F8ECD1;
    max-width: 100%;
    overflow-x: hidden;
}

#create_pizza_body{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

#checkout_body{
    font-family: myfirstfont;
}

/* checkout css */


#form-element{
    margin-left: 75px;
    margin-bottom: 50px;
}

#contact_info_label{
    margin-top: 50px;
    margin-bottom: 50px;
}

#pay_label{
    margin-top: 50px;
    margin-bottom: 50px;
}

#csz{
    display: flex;
    justify-content: space-between;
    width: 1075px;
}

#expireMM{
    font-size: 15px;
}

#expireYY{
    font-size: 15px;
}

#C_V_V{
    width: 100px;
}

#totalPrice{
    margin-top: 50px;
    margin-bottom: 25px;
}

input {
    margin-bottom: 10px;
}

.form-control{
    width: 330px;

}


/* logo css */


#pizza_guy_div {
    text-align: center;
    height: 70vh;
    
}

#pizza_guy {
    padding-top: 20vh;
    height: auto;
    width: 70%;
    animation: blink 0.3s;
    animation-iteration-count: infinite;
}

#pizza_guy_2{
    height: auto;
    width: 30%;
    animation: blink 0.3s;
    animation-iteration-count: 3;
}

#pizza_creation_image{
    margin-top: 50px;
    margin-bottom: 150px;

}

/* buttons css */

#pizza_creation_button {
    margin-top: 100px;
    font-size: x-large;
    font-family: myFirstFont;
    height: auto;
    width: 30%;
    bottom: 60vh;
    
}

.btn-outline-dark:hover {
    color: white;
    background-color: #F24C4C;
    border-color: #F24C4C;
}

.btn-dark:hover {
    color: white;
    background-color: #F24C4C;
    border-color: #F24C4C; 
}

#goBack{
    margin-right: 30px;
    margin-bottom: 25px;
    height: 40%;
    width: 20%;
}

#cartButton{
    
    margin-bottom: 25px;
}

.btn {
    font-family: myFirstFont;
}


/* pizza creation css */


#crust{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
}


#ingredients{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px;
}


/* scroller css */

#scroller_div{
    display: flex;
    white-space: nowrap;
    width: 100;
    animation: slide 60s linear infinite;
    font-size: 50px;
}

@font-face {
    font-family: myFirstFont;
    src: url(./Press_Start_2P/PressStart2P-Regular.ttf);
}

@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 7))}
}

@keyframes slide {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(-10000px, 0, 0); /* The image width */
    }
  }

/* font css */


h1 {
    font-family: myFirstFont;
}

h2 {
    font-family: myFirstFont;
}

h3 {
    font-family: myFirstFont;
}

p {
    font-family: myFirstFont;
}

a{
    font-family: myFirstFont; 
}

q{
    font-family: myFirstFont;
    
}

label {
    font-family: myFirstFont;
}

::-webkit-input-placeholder{
    font-size: 10px;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/* checkout page css */
#container{
    position: relative;
    top: 500px;
}
#title_bar{
    text-align: center;
    position: relative;
    top: -50px;
}
#top_ban{
    text-align: center;
}
.progress{
    height: 6vh;
    position: relative;
    margin-left: 50px;
    margin-right: 50px;
}
#text{
    font-weight: 50;
    font-size: x-large;
    position: relative;
    top: 10px;
}
/* input field read only for checkout */
#deliveryFee{
    position: relative;
    width: 50px;
    background-color: #F8ECD1;
    border-color: #F8ECD1;
    left: 220px;
    top: -45px;
}
#totalAmount{
    position: relative;
    width: 100px;
    background-color: #F8ECD1;
    border-color: #F8ECD1;
    left: 100px;
    top: -45px;
}
/* contact page media query */
@media (min-width: 375px) and (max-width: 1263px){

    #csz{
        display: flex;
        flex-direction: column;
    
    }
}


/* media queries */

@media (max-width: 833px) {

#pizza_creation_button {
        margin-top: 100px;
        font-size: medium;
        font-family: myFirstFont;
        height: auto;
        width: 70%;
        bottom: 60vh;
        
}

#pizza_guy {
    padding-top: 20vh;
    height: auto;
    width: 100%;
    animation: blink 2s;
    animation-iteration-count: infinite;
}

#pizza_guy_2{
    height: auto;
    width: 70%;
    animation: blink 0.3s;
    animation-iteration-count: 3;
}

#scroller_div{
    display: flex;
    white-space: nowrap;
    width: 100;
    animation: slide 60s linear infinite;
    font-size: 30px;
} 

#goBack{
    margin-right: 30px;
    margin-bottom: 25px;
    height: 40%;
    width: 30%;
}
}
