body {
    background-color: #F8ECD1;
}

#create_pizza_body{
    display: flex;
    text-align: center;
    justify-content: center;
    
}


#top_div {
    width: 100vw;
    height: 5vh;
    text-align: center;
}

#phone_number {
    padding-top: 25px;
    font-size: medium;
}

#pizza_guy_div {
    text-align: center;
    height: 70vh;
    
}

#pizza_guy {
    padding-top: 20vh;
    height: auto;
    width: 70%;
}

#pizza_creation_button {
    margin-top: 10px;
    font-size: x-large;
    font-family: myFirstFont;
    height: auto;
    width: 30%;
    bottom: 60vh;
    
}

#pizza_creation_image{
    margin-top: 50px;
    margin-bottom: 150px;

}

#quantity{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 50px;
    margin-bottom: 50px;

}

#add{
    margin-left: 30px;
    height: 40%;
    width: 10%;
}

#subtract{
    margin-right: 30px;
    height: 40%;
    width: 10%;
}

#count{
   padding-top: 5px; 
}

#size{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-bottom: 50px;
}

#crust{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-bottom: 50px;
}

#sauce{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-bottom: 50px; 
}

#ingredients{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-bottom: 50px;
}

#goBack{
    margin-right: 30px;
    margin-bottom: 25px;
    height: 40%;
    width: 20%;
}

#cartButton{
    margin-left: 30px;
    margin-bottom: 25px;
}

@font-face {
    font-family: myFirstFont;
    src: url(./Press_Start_2P/PressStart2P-Regular.ttf);
}

#fresh_baked {
    font-size: 100px;
}

h1 {
    font-family: myFirstFont;
}

h2 {
    font-family: myFirstFont;
}

h3 {
    font-family: myFirstFont;
}

p {
    font-family: myFirstFont;
}

label {
    font-family: myFirstFont;
}

.btn {
    font-family: myFirstFont;
}

